{% extends "layout.twig" %}

{% block content %}

<h1>Dashboard</h1>

<ul>
    <li><a href="/curso/users/add">Add User</a></li>
    <li><a href="/curso/jobs/add">Add Job</a></li>
</ul>
<br>
<a href="/curso/logout">Logout</a>
{% endblock %}